body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#weather-container {
    margin-top: 20px;
}

#location, #temperature, #description {
    font-size: 18px;
    margin-bottom: 10px;
}

input, button {
    margin: 10px;
}
